{% block header %}
<link href="/static/css/menu.css" rel="stylesheet" />
{% end %}
{% from tornado.options import options %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            {% if options.debug %}
                <i class="fa fa-fw fa-bug"></i>
                {{ _("DEBUG") }}
            {% else %}
                {{ options.game_name }}
            {% end %}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login">
                        <i class="fa fa-fw fa-sign-in"></i>
                        {{ _("Login") }}
                    </a>
                </li>
                {% if registration_visible %}
                <li class="nav-item">
                    <a class="nav-link" href="/registration">
                        <i class="fa fa-fw fa-pencil"></i>
                        {{ _("Registration") }}
                    </a>
                </li>
                {% end %}
                {% if scoreboard_visible %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-fw fa-bar-chart-o"></i>
                        {{ _("Scoreboard") }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/scoreboard">{{ _("Summary") }}</a></li>
                        <li><a class="dropdown-item" href="/scoreboard/history">{{ _("Charts") }}</a></li>
                        <li>
                            <a class="dropdown-item" href="/teams">
                                {% if options.teams %}{{ _("Teams") }}{% else %}{{ _("Players") }}{% end %}
                            </a>
                        </li>
                        {% if options.use_black_market %}
                        <li><a class="dropdown-item" href="/scoreboard/wall_of_sheep">{{ _("Wall of Sheep") }}</a></li>
                        {% end %}
                    </ul>
                </li>
                {% end %}
            </ul>
        </div>
    </div>
</nav>
