{% block header %}
<script src="/static/js/pages/menu/refresh.js" type="text/javascript"></script>
<link href="/static/css/menu.css" rel="stylesheet" />
{% end %}
{% from tornado.options import options %}
{% from handlers.MaterialsHandler import has_materials %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            {% if options.debug %}
                <i class="fa fa-fw fa-bug"></i>
                {{ _("DEBUG") }}
            {% else %}
                {{ options.game_name }}
            {% end %}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/user">
                        <i class="fa fa-fw fa-home" title="{{ _('Home') }}"></i>
                    </a>
                </li>
                <!-- Game Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-fw fa-gamepad"></i>
                        {{ _("Game") }}
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/user/missions">
                                <i class="fa fa-fw fa-terminal"></i> {{ _("Missions") }}
                            </a>
                        </li>
                        {% if options.use_black_market %}
                        <li>
                            <a class="dropdown-item" href="/user/market">
                                <i class="fa fa-fw fa-shopping-cart"></i> {{ _("Black Market") }}
                            </a>
                        </li>
                        {% end %}
                        {% if options.use_bots %}
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="/user/bots/webmonitor">
                                <i class="fa fa-fw fa-android"></i> {{ _("Botnet") }} - {{ _("Command & Control") }}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/user/bots/download/windows" target="_blank">
                                <i class="fa fa-fw fa-download"></i> {{ _("Download") }} Windows {{ _("Bot") }}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/user/bots/download/linux" target="_blank">
                                <i class="fa fa-fw fa-download"></i> {{ _("Download") }} Linux / BSD {{ _("Bot") }}
                            </a>
                        </li>
                        {% end %}
                    </ul>
                </li>
                <!-- Tools Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-fw fa-wrench"></i>
                        {{ _("Tools") }}
                    </a>
                    <ul class="dropdown-menu">
                        {% for link in options.tool_links %}
                            {% if link.get("name") and link.get("url") %}
                            {% if not link.get("target") %}
                                {% set link["target"] = "_blank" %}
                            {% end %}
                            {% if link.get('name') == 'CyberChef' and (user.theme == 'Cyborg' or user.theme == 'Slate') %}
                                {% set theme="?theme=dark" %}
                            {% else %}
                                {% set theme="" %}
                            {% end %}
                            <li>
                                <a class="dropdown-item" href="{{ link.get('url') }}{{ theme }}" target="{{ link.get('target') }}">
                                    <i class="fa fa-fw fa-link"></i> {{ link.get('name') }}
                                </a>
                            </li>
                            {% end %}
                        {% end %}
                        {% if (handler.application.settings['game_started'] or options.game_materials_on_stop) and has_materials() %}
                        <li>
                            <a class="dropdown-item" href="/materials">
                                <i class="fa fa-fw fa-folder-open-o"></i> {{ _("Game Materials") }}
                            </a>
                        </li>
                        {% end %}
                        {% if options.teams and options.team_sharing %}
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="/user/share/files">
                                <i class="fa fa-fw fa-files-o"></i> {{ _("Team File Share") }}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/user/share/pastebin">
                                <i class="fa fa-fw fa-clipboard"></i> {{ _("Team PasteBin") }}
                            </a>
                        </li>
                        {% end %}
                    </ul>
                </li>
                <!-- Unlocks Dropdown -->
                {% if options.use_black_market %}
                    {% if user.team and len(user.team.items) != 0 %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-fw fa-dashboard"></i>
                            {{ _("Unlocks") }}
                        </a>
                        <ul class="dropdown-menu">
                            {% if user.has_item("Source Code Market") %}
                            <li>
                                <a class="dropdown-item" href="/source_code_market">
                                    <i class="fa fa-fw fa-code"></i> {{ _("Source Code Market") }}
                                </a>
                            </li>
                            {% end %}
                            {% if user.has_item("Password Security") %}
                            <li>
                                <a class="dropdown-item" href="/password_security">
                                    <i class="fa fa-fw fa-lock"></i> {{ _("Password Security") }}
                                </a>
                            </li>
                            {% end %}
                            {% if user.has_item("Federal Reserve") %}
                            <li>
                                <a class="dropdown-item" href="/federal_reserve">
                                    <i class="fa fa-fw fa-dollar"></i> {{ _("Federal Reserve") }}
                                </a>
                            </li>
                            {% end %}
                            {% if user.has_item("SWAT") %}
                            <li>
                                <a class="dropdown-item" href="/swat">
                                    <i class="fa fa-fw fa-crosshairs"></i> {{ _("S.W.A.T.") }}
                                </a>
                            </li>
                            {% end %}
                        </ul>
                    </li>
                    {% end %}
                {% end %}
                <!-- Scoreboard Dropdown -->
                {% if scoreboard_visible %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-fw fa-bar-chart-o"></i>
                        {{ _("Scoreboard") }}
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/scoreboard">
                                <i class="fa fa-fw fa-list"></i> {{ _("Summary") }}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/scoreboard/history">
                                <i class="fa fa-fw fa-calendar"></i> {{ _("Charts") }}
                            </a>
                        </li>
                        {% if options.use_black_market %}
                        <li>
                            <a class="dropdown-item" href="/scoreboard/wall_of_sheep">
                                <i class="fa fa-fw fa-key"></i> {{ _("Wall of Sheep") }}
                            </a>
                        </li>
                        {% end %}
                        <li>
                            <a class="dropdown-item" href="/teams">
                                <i class="fa fa-fw fa-users"></i>
                                {% if options.teams %}{{ _("Teams") }}{% else %}{{ _("Players") }}{% end %}
                            </a>
                        </li>
                    </ul>
                </li>
                {% end %}
                {% if len(options.chat_url) > 0 %}
                <li class="nav-item">
                    <a class="nav-link" href="{{options.chat_url}}" rel="noopener noreferrer" target="_blank">
                        <i class="fa fa-fw fa-comment" title="{{ _('Chat') }}"></i>
                    </a>
                </li>
                {% end %}
            </ul>
            <!-- Right Side -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bell" title="{{ _('Notifications') }}"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" style="min-width: 350px;">
                        <li>
                            <a class="dropdown-item text-end" href="/notifications/all">
                                {{ _("See All") }} &raquo;
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        {% for index, notify in enumerate(reversed(list(user.notifications[-5:]))) %}
                        <li class="px-3 py-2">
                            <span>
                                {% if notify.icon_url is not None %}
                                    <img src="{{ notify.icon_url }}" style="width: 16px;" />
                                {% end %}
                                <strong>{{ _(notify.title) }}</strong>
                                <small class="text-body-secondary">{{ notify.created.strftime("%I:%M%p %x") }}</small>
                                <br />{{ notify.message }}
                            </span>
                        </li>
                        {% if index < len(user.notifications[-5:]) - 1 %}
                        <li><hr class="dropdown-divider my-1"></li>
                        {% end %}
                        {% end %}
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-fw fa-user"></i>
                        {{ user.handle }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="/user/settings">
                                <i class="fa fa-fw fa-gears"></i> {{ _("Settings") }}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/about">
                                <i class="fa fa-fw fa-info-circle"></i> {{ _("About") }}
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form id="logout-form" action="/logout" method="post">
                                {% raw xsrf_form_html() %}
                            </form>
                            <a class="dropdown-item" id="logout" href="#">
                                <i class="fa fa-fw fa-sign-out"></i> {{ _("Logout") }}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
