{% extends "../main.html" %}

{% block title %}{{ _("Registration") }}{% end %}

{% block header %}
    <link rel="stylesheet" href="/static/css/pages/public/registration.css" type="text/css" />
    <script src="/static/js/pages/public/registration.js"></script>
{% end %}

{% block modals %}
    {% from libs.XSSImageCheck import get_new_avatar %}
    {% from tornado.options import options %}
    {% from libs.XSSImageCheck import filter_avatars %}
    {% from libs.XSSImageCheck import existing_avatars %}
    {% from models.Team import Team %}
    {% if options.teams %}
        {% set dir = "user" %}
    {% else %}
        {% set dir = "team" %}
    {% end %}
    {% set avatars = filter_avatars("user") %}
    {% set existing = existing_avatars(dir) %}
    <!-- Select Avatar Modal -->
    <div id="change-user-avatar-modal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog {% if len(avatars) > 0 %}modal-lg{% end %}">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ _("Select Avatar") }}</h5>
                    <button id="avatarclose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% raw xsrf_form_html() %}
                    {% if len(avatars) > 0 %}
                        <div class="text-end small mb-3"><i class="fa fa-certificate"></i> {{ _("indicates use by another player") }}</div>
                        <div class="row g-3">
                            {% for avatar in avatars %}
                                <div class="col-md-4 text-center position-relative">
                                    {% if avatar in existing %}<i class="fa fa-certificate avatarused"></i><i class="fa fa-certificate avatarused-top"></i>{% end %}
                                    <a href="#" class="useravatarimg" value="{{avatar}}"><img src="/avatars/{{avatar}}" class="img-thumbnail" style="width: 200px;"></a>
                                </div>
                            {% end %}
                        </div>
                    {% end %}
                </div>
            </div>
        </div>
    </div>
{% end %}

{% block content %}
    <div class="container">
        <h1 class="mb-4">
            <i class="fa fa-pencil"></i>
            {{ _("Registration") }}
        </h1>
        {% if errors is not None and len(errors) != 0 %}
            {% for error in errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{ _("ERROR") }}</strong> {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% end %}
        {% end %}
        <div class="card">
            <div class="card-body">
        {% if not suspend %}
            <h4 class="card-title mb-4">{{ _("Welcome to the Scene") }}</h4>
            <form action="/registration" method="post" enctype="multipart/form-data">
                {% raw xsrf_form_html() %}
                <div class="row">
                    <div class="{% if len(avatars) > 0 %}col-lg-7{% else %}col-12{% end %}">
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label" for="handle">
                                <i class="fa fa-user"></i> {{ _("Handle") }}
                            </label>
                            <div class="col-sm-8">
                                <input required id="handle" name="handle" maxlength="16" minlength="3" placeholder="{{ _('Player Alias') }}" type="text"
                                    class="form-control" pattern="^[a-zA-Z0-9_\-\.]{3,16}$"
                                    title="{{_('Your handle must be 3-16 alphanumeric characters.  Underscore, dash, and dots allowed.')}}" />
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label" for="playername">
                                {{ _("Player Name") }}
                            </label>
                            <div class="col-sm-8">
                                <input required id="playername" name="playername" maxlength="64" minlength="3" placeholder="{{_('Name')}}" type="text"
                                    class="form-control" pattern="^[a-zA-Z0-9 ]{3,64}$"
                                    title="{{_('Your name, visible to game administrators.  Your name can be 3-64 alphanumeric characters')}}" />
                            </div>
                        </div>
                        {% if options.require_email %}
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label" for="email">
                                {{ _("Email") }}
                            </label>
                            <div class="col-sm-8">
                                <input required id="email" name="email" maxlength="64" minlength="3" placeholder="{{ _('Email') }}" type="email"
                                    class="form-control" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                                    title="{{_('Player Email')}}" />
                            </div>
                        </div>
                        {% end %}
                        <hr>
                        {% if options.teams %}
                            {% if options.public_teams %}
                                <div class="mb-3">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input teammode" type="radio" name="teammode" value="join" id="teamJoin" checked>
                                        <label class="form-check-label fw-bold" for="teamJoin">{{ _("Join Existing Team") }}</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input teammode" type="radio" name="teammode" value="create" id="teamCreate">
                                        <label class="form-check-label fw-bold" for="teamCreate">{{ _("Start a New Team") }}</label>
                                    </div>
                                </div>
                                <div id="teammode-create" style="display: none;">
                                    <div class="mb-3 row">
                                        <label class="col-sm-4 col-form-label" for="team-name">{{ _("Team Name") }}</label>
                                        <div class="col-sm-8">
                                            <input id="team-name" name="team_name" maxlength="24" minlength="3" type="text" placeholder="{{ _('Team Name') }}"
                                                class="form-control" pattern="^[a-zA-Z0-9 _\-\.]{3,24}$"
                                                title="{{_('Choose a name for your new team!')}} [3-24 {{_('Characters')}}]">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-4 col-form-label" for="motto">{{ _("Motto") }}</label>
                                        <div class="col-sm-8">
                                            <input id="motto" name="motto" maxlength="32" type="text" placeholder="{{ _('Team Motto') }}"
                                                class="form-control" pattern="^[a-zA-Z0-9 _\-\.]{,32}$"
                                                title="{{_('Optional')}}: {{_('What is your teams motto?')}} [{{ _('Max') }}: 32 {{_('Characters')}}]">
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <h5 class="mb-3">{{ _("Join Existing Team") }}</h5>
                            {% end %}
                            <div id="teammode-join" class="mb-3 row">
                                <label class="col-sm-4 col-form-label" for="team-code">{{ _("Team Code") }}</label>
                                <div class="col-sm-8">
                                    <input id="team-code" name="team-code" type="text" placeholder="{{ _('Team Code') }}"
                                        class="form-control"
                                        title="{{_('Provide the code used to join an existing team.  Visible to other team members on their home page.')}}" >
                                </div>
                            </div>
                        {% else %}
                            <div class="mb-3 row">
                                <label class="col-sm-4 col-form-label" for="motto">{{ _("Motto") }}</label>
                                <div class="col-sm-8">
                                    <input id="motto" name="motto" maxlength="32" type="text" placeholder="{{ _('Motto') }}"
                                        class="form-control" pattern="^[a-zA-Z0-9_\-\.]{,32}$"
                                        title="{{_('Optional')}}: {{_('What is your motto?')}} [{{ _('Max') }}: 32 {{_('Characters')}}]">
                                </div>
                            </div>
                        {% end %}
                        <hr>
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label" for="pass1">{{ _("Account Password") }}</label>
                            <div class="col-sm-8">
                                <input required id="pass1" name="pass1" minlength="{{ options.min_user_password_length }}" placeholder="{{ _('Password') }}" type="password"
                                    class="form-control" autocomplete="off"
                                    title="{{_('Enter a complex password of')}} {{ options.min_user_password_length }}+ {{_('Characters')}}" />
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label" for="pass2">{{ _("Confirm Account Password") }}</label>
                            <div class="col-sm-8">
                                <input required id="pass2" name="pass2" minlength="{{ options.min_user_password_length }}" placeholder="{{ _('Confirm Password') }}" type="password"
                                    class="form-control" autocomplete="off"
                                    title="{{_('Enter the same password as before')}}" />
                            </div>
                        </div>
                        {% if options.banking %}
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label" for="bpass">{{ _("Bank Account Password") }}</label>
                            <div class="col-sm-8">
                                <input required id="bpass" name="bpass" maxlength="{{ options.max_password_length }}" placeholder="{{ _('Bank Account Password') }}" type="password"
                                    class="form-control" autocomplete="off"
                                    title="{{_('Used to secure your (in-game) bank account.')}} [{{ _('Max') }}: {{ options.max_password_length }} {{_('Characters')}}].  {{_('Please do NOT enter your real bank account password.')}}" />
                            </div>
                        </div>
                        {% end %}
                        {% if options.restrict_registration %}
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label" for="regtoken">{{ _("Registration Token") }}</label>
                            <div class="col-sm-8">
                                <input required id="regtoken" name="token" placeholder="{{ _('Token') }}" type="text"
                                    class="form-control" pattern="^[a-fA-F0-9]{1,6}$"
                                    title="{{_('Get your registration token from reception')}}" />
                            </div>
                        </div>
                        {% end %}
                        {% if options.privacy_policy_link %}
                        <div class="mb-3 row">
                            <div class="col-sm-8 offset-sm-4">
                                <div class="form-check">
                                    <input required class="form-check-input" id="privacy_policy_accept" name="privacy_policy_accept" type="checkbox" />
                                    <label class="form-check-label" for="privacy_policy_accept">{{ _("I accept the") }} <a href="{{ options.privacy_policy_link }}">{{ _("Privacy Policy") }}</a></label>
                                </div>
                            </div>
                        </div>
                        {% end %}
                        <div class="mb-3 row">
                            <div class="col-sm-8 offset-sm-4">
                                <button class="btn btn-primary btn-lg" type="submit">
                                    {{ _("Register Account") }}
                                </button>
                            </div>
                        </div>
                    </div>
                    {% if len(avatars) > 0 %}
                    <div class="col-lg-5">
                        {% set avatarimg = get_new_avatar("user", not options.teams) %}
                        <div class="text-center">
                            <img id="avatarimage" src="/avatars/{{avatarimg}}" class="img-thumbnail mb-3" style="width: 100%; max-width: 350px; height: 175px; object-fit: cover"/>
                            <div>
                                <input id="user_avatar_select" name="user_avatar_select" type="hidden" value="{{avatarimg}}" />
                                {% if len(avatars) > 0 %}<a data-bs-toggle="modal" class="btn btn-primary btn-sm" href="#change-user-avatar-modal"> {{ _("Select New Avatar") }} </a>&nbsp;{% end %}
                                <a id="uploadbutton" class="btn btn-outline-primary btn-sm" href="#">{{ _("Upload Avatar") }}</a>
                                <small class="d-block text-body-secondary mt-1">(w500 x h250)</small>
                                <input id="user-avatar" name="avatar" type="file" accept="image/bmp,image/jpeg,image/gif,image/png" style="display: none;"/>
                            </div>
                        </div>
                    </div>
                    {% end %}
                </div>
            </form>
        {% else %}
            <h4 class="text-center"><i class="fa fa-group"></i>&nbsp;&nbsp;{{ _("The game is not accepting new players at this time.") }}</h4>
        {% end %}
            </div>
        </div>
    </div>
{% end %}
